@model IEnumerable<AplicacaoMVCLinq.Models.Cliente>
<h1>Lista de Clientes</h1>
@{
    ViewData["Title"] = "Listar Clientes";
}
<table>
    <thead>

        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Data de Nascimento</th>

    <tbody>
                @foreach (var cliente in Model)
                {
            <tr>

                <td>@cliente.Id</td>
                <td>@cliente.Nome</td>
                <td>@cliente.Email</td>
                <td>@cliente.Telefone</td>
                <td>@cliente.DataNasc</td>
            </tr>

                }
    </tbody>



    </tr>
    </thead>
</table>